body{
  background-color: black;
  
}

p {
    color: rgb(66, 224, 209)
}

nav a {
    text-decoration:none;
  }

 .texto{
  color: rgb(66, 224, 209);
 }

 .card-title{

  color: rgb(66, 224, 209);

 }


 .form-label{

  color: rgb(66, 224, 209);

 }


  footer a {
    text-decoration: none; /* Aumenta a especificidade */
}
  /* Estilo para mudar a cor dos ícones */
  .navbar-dark .icones a svg {
    fill: white; /* Altere 'white' para qualquer cor desejada */
  }
  .navbar-dark .icones a:hover svg {
    fill: #ccc; /* Altere para a cor desejada ao passar o mouse */
  }
  .logo{
    border-radius: 50%;
  }